DATA_PATH=backend/data/raw/products.csv

# PostgreSQL CONFIGURATION
# Định dạng: postgresql://[user]:[password]@[host]:[port]/[db_name]
DATABASE_URL=postgresql://postgres:password@localhost:5432/semantic_search

#QDRANT CONFIGURATION 
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=tech_products
QDRANT_IMG_COLLECTION=tech_img

#Sentence Transformers
EMBEDDING_MODEL_NAME=keepitreal/vietnamese-sbert
VECTOR_SIZE=768

#SERVER CONFIGURATION
PORT=8000
DEBUG=True
API_HOST=127.0.0.1
API_PORT=8000