@import url("animation.css");
/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
/* CHỈNH SỬA SCROLL CHO MƯỢT HƠN */
html {
    scroll-behavior: smooth;
}
/* BODY */
body {
    background: #0f0f0f;
    color: #fff;
}

/* ===== HEADER ===== */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background: rgb(0 0 0 / 63%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 1000;
}

/* MENU BUTTON */
.menu-btn {
    cursor: pointer;
    font-weight: bold;
    font-size : 25px
    
}

/* SEARCH MODE */
.search-options {
    display: flex;
    gap: 10px;      
}
.search-icon {
    position: absolute;
    right: 60px;      
    top: 50%;
    transform: translateY(-50%);

    width: 20px;
    height: 20px;
    cursor: pointer;
}

.search-by-image-icon {
    position: absolute;
    right: 22px;      
    top: 49%;
    transform: translateY(-50%);

    width: 26px;
    cursor: pointer;
}

.modal {
    position: fixed;
    display: none; /* Ẩn ban đầu */
    top: 56%;
    left: 34%;
    z-index: 999;
    
}


.box {
    border-radius: 30px;
    min-height: 280px;
    width: 500px;
    padding: 50px;
    background: rgba(255,255,255,0.05); /* nền nhẹ */
    backdrop-filter: blur(12px);
    border: 1px solid transparent;
    background-clip: padding-box;
    position: relative;
    transition: all 0.5s ease;
}

.modal.active .box {
    animation: slideDown 0.4s ease forwards;
}

.box:hover {
    border-radius: 30px;
    box-shadow: 
        0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 20px #ffffff;
}

.text-upload{
    font-size :30px;  
    
    font-weight: bolder;
}
.image-icon{
    filter: invert(1);
    width: 80px;
}

.uploadpack{
    display: flex;
    justify-content: center; /* Căn giữa ngang */
    align-items: center;     /* Căn giữa dọc */
    flex-direction: column;  /* Xếp icon và chữ theo hàng dọc nếu cần */
    text-align: center;
    opacity:0.6;
    transition: all 0.5s ease;
    
}
.uploadpack:hover{
    opacity:1;
    transform: scale(1.1);
    text-shadow: 0 0 10px #ffffff;

}

.exit-icon {
    opacity: 0.6;
    position: absolute;
    top: 1px;
    right: 30px;
    cursor: pointer;
    font-size: 50px;
    z-index: 90;
}
.exit-icon:hover {
    opacity: 1;
    transform: scale(1.1);
    text-shadow: 0 0 10px #ffffff;
}
.upload {
    padding: 30px;
    text-align: center;
    cursor: pointer;
}


.search-icon:hover {
    opacity: 1;
}

/* Trạng thái mặc định (khi chưa ấn) */
.option {
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    color: #888;
    background: rgb(255 0 0 / 0%);
    transition: 0.4s cubic-bezier(0.86, -0.03, 0, 1);
    border: 3px solid rgb(255 255 255);
}

/* Khi SQL được chọn: Hiện màu Tím */
#sql-opt.active {
    background: var(--brand-techna); 
    color: #feaaff;
    font-weight: bold;
    box-shadow: 0 0 20px #feaaff;
    border-color: var(--brand-techna);
}

/* Khi VECTOR được chọn: Hiện màu Xanh */
#vec-opt.active {
    background: var(--brand-lg); 
    color: #00ffe5;
    font-weight: bold;
    box-shadow: 0 0 20px #00ffe5;
    border-color: var(--brand-lg);
}
/* Khi HYBRID được chọn: Hiện màu Xanh da trời */
#hybrid-opt.active {
    background: var(--brand-lg); 
    color: #38b3ff;
    font-weight: bold;
    box-shadow: 0 0 20px #38b3ff;
    border-color: var(--brand-lg);
}

/* ===== SIDEBAR ===== */
.sidebar {
    position: fixed;
    left: -350px;
    top: 0;
    width: 350px;
    height: 100%;
    background: #111;
    padding: 20px;
    transition: 0.3s;
    z-index: 1001;
}

.sidebar h2 {
    color: #fff;
    text-shadow: 0 0 10px #ffffff; 
    font-size: 1.8rem;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #b1b1b144;
}



.sidebar.active {
    left: 0;
}



.category-list li {
    margin: 6px 0;
    font-size:22px;
    list-style: none;
    padding: 20px;
    cursor: pointer;
    border-bottom: 0px;
    transition:all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50px;
}

.category-list li:hover {
    transform:translateX(5px);
    background: #222;
    border-radius: 50px;
    color:#00ccff;

}

/* OVERLAY */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 1000;
}

.overlay.active {
    display: block;
}


/* ===== HERO SECTION ===== */
.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #000;
    overflow: hidden;
}

/* Layer blur gradient */
.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;

    background: 
        radial-gradient(circle at 20% 30%, #ff006a, transparent 50%),
        radial-gradient(circle at 80% 20%, #26ffd0, transparent 50%),
        radial-gradient(circle at 50% 80%, #0064ff, transparent 55%),
        radial-gradient(circle at 70% 60%, #9600ff, transparent 55%);

    filter: blur(120px);
    opacity: 0.7;
    z-index: 0;
    animation: moveGradient 12s ease-in-out infinite;
}



/* Nội dung nổi lên trên */
.hero-section > * {
    position: relative;
    z-index: 1;

}

/* LOGO */
.brand-logo-big {
    font-size: 100px;
    font-weight: bold;
    z-index: 10;
    cursor: pointer;
    

}

.brand-techna {
    color: #feaaff;
    text-shadow:
        0 0 5px #feaaff,
        0 0 10px #feaaff,
        0 0 20px #feaaff;
    font-family: "Press Start 2P";
}

.brand-lg {
    color: #00ffe5;
    text-shadow: 
        0 0 5px #00ffe5,
        0 0 10px #00ffe5,
        0 0 20px #00ffe5;
        font-family: "Press Start 2P";
    
}
.hero-subtitle {
    font-size: 22px;
    letter-spacing: 8px;
    opacity: 0.7;
    margin-top: -40px;
    margin-bottom: 30px;
    text-align: center; 
    text-shadow: 
        0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 20px #ffffff;
    
}
/* SEARCH BAR */
.big-search-wrapper {
    position: relative;  
    display: inline-block;
    
}

.scroll-text {
    margin-top: 60px;
    cursor: pointer;
    opacity: 0.6;

    font-size: 30px;
    color: white;
    text-align: center;

    transition: 0.3s;
}

/* hover đẹp hơn */
.scroll-text:hover {
    font-weight: bold;
    opacity: 1;
    transform: scale(1.1);
    text-shadow: 0 0 10px #fff, 0 0 20px #ff4ecd;
}

.big-search-bar {
    width: 700px;              
    padding: 20px 60px 20px 25px; 
    border-radius: 40px;       
    font-size: 20px;
    border: 2px solid #ccc;
    outline: none;
    transition: all 0.3s ease;        
}
.big-search-bar:focus {
    border-color: #ffffff;

    box-shadow:
        0 0 8px #ffffff,
        0 0 20px #ffffff,
        0 0 40px #ffffff59;
}

/* ===== MAIN CONTENT ===== */
.main-content {
    padding: 80px 40px;
    max-width: 100%;
    margin: 0 auto;
}

/* TITLE */
.section-title {
    margin-bottom: 50px;
    margin-top: -20px;
    font-size:40px;
    font-weight: bold;
}

/* GRID */
.main-content {
    max-width: 100%; /* Đảm bảo container rộng hết cỡ */
    padding: 60px 5%; /* Padding 5% hai bên để sản phẩm không dính sát mép màn hình */
    margin: 0 auto;
}

.products-grid {
    display: grid;
    /* Ép hiển thị đúng 4 cột, mỗi cột chiếm 1 phần bằng nhau (1fr) */
    grid-template-columns: repeat(4, 1fr); 
    
    gap: 30px; /* Khoảng cách giữa các sản phẩm */
    width: 100%;
}

/* PRODUCT CARD */
.product-card {
    background: #1a1a1a;
    padding: 15px;
    border-radius: 12px;
    transition: 0.3s;
    position:relative;
    z-index:2;
    transition:all 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow:
        0 0 10px #ffffff59,
        0 0 20px #ffffff33,
        0 0 40px #ffffff99;
    cursor: pointer;
}


/* IMAGE */
.product-card img {
    border: 8px solid white;
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 4/3;
    
}

/* NAME */
.product-name {
    margin: 10px 0;
    font-weight: bold;
    font-size:30px;
}

/* PRICE */
.product-price {
    font-size : 30px;
    color: #ffffff;
    background: #e651a5;
    padding: 8px 12px; 
    border-radius: 10px;
    display: inline-block; 
}

/* ===== RESPONSIVE ===== */
@media (max-width: 600px) {
    .big-search-bar {
        width: 90%;
    }

    .brand-logo-big {
        font-size: 40px;
    }
}
/* ===== STARS ===== */
.stars {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: transparent;
    overflow: hidden;
    z-index: 1;
}

/* tạo nhiều sao bằng box-shadow */
.stars::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;

    box-shadow:
        100px 200px white,
        300px 400px white,
        500px 100px white,
        700px 300px white,
        900px 600px white,
        1200px 200px white,
        1500px 500px white;

    animation: moveStars 10s linear infinite;
}

